@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
	margin: 0;
	background-color: #eadbcc;
	font-family: 'Century Gothic', 'Roboto', 'ヒラギノ角ゴシック', '游ゴシック体', 'Osaka-Mono', sans-serif;
	color: #707070;
	font-size: 1em;
}
